/*Header*/
.top-bar {
    background-color: #094c8f; 
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .social-icons a {
    margin: 0 10px;
}

.top-bar .social-icons a img {
    width: 20px;
    height: 20px;
}

.top-bar .user-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.top-bar .user-links a:hover {
    text-decoration: underline;
}

.main-header {
    background-image: url("../image/backgroundhead.jpeg");
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin-left: 20px;
    font-size: 24px;
    color: #1b5a99;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.main-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.main-nav ul li a:hover {
    color: #fa052e;
}

.book-now-btn {
    background-color: #77b2ec;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: auto;
}

.book-now-btn:hover {
    background-color: #a3b6c5;
}


/*Footer*/
footer {
    background-color: #f9f9fa;
    padding: 20px;
    text-align: center;
    width: calc(100% - 200px); 
    position: relative;
    bottom: 0;
}
/*Div giới thiệu*/
.container-fluid .row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.col-lg-5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-lg-7 {
    flex: 0 0 60%; 
    max-width: 60%;
    margin:auto;
}

.h-100 {
    border: 30px solid;
    border-color: transparent #13357B transparent #13357B;
    padding: 10px;
}

.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section-about-title {
    font-size: 18px;
    font-weight: bold;
    color: #13357B;
}

h1 {
    font-size: 36px;
    color: #13357B;
    margin-bottom: 20px;
}

.text-primary {
    color: #13357B;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #13357B;
    border: none;
    padding: 15px 30px;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0f2b5d;
}
