body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
}
.container {
    margin: 35px 0;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    
    text-align: left;
    color: #333;    
}

/* CSS cho bảng */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th,
.table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.table th {
    background-color: #f1f3f5;
    color: #333;
}

.table td {
    background-color: #fff;
}

/* CSS cho nút chỉnh sửa và xóa */
.btn {
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.btn-sua {
    background-color: #ffc107;
}

.btn-xoa {
    background-color: #dc3545;
}


/* Hiệu ứng khi hover vào nút */
.btn-sua:hover,.btn-xoa:hover {
    opacity: 0.8;
}

.btn-them {
  background-color: #28a745; 
  text-decoration: none;
  color: black;
}


.btn-them:hover {
  background-color: #218838; 
    color: #fff;
}
.status-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #dc3545; 
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 102px;
    cursor: pointer;
}
.sidebar {
    min-height: 100vh;
    width: 220px;
    background-color: #f1f1f1;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin: 86px 0;
}
.sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.sidebar a:hover {
    background-color: #ddd;
}
.content {
    flex-grow: 1;
    padding: 53px;
}